@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap');

$font-display: "Roboto" , sans-serif;
$font-body: "Roboto Mono" , cursive;

$color-modifier: #2c86cf;
$color-function: #120287de;
$color-input: #b5b2b26d;
$color-white: #fafafa;
$color-grey: #bebcbc;
$color-black: #000000;
$color-card: #dfc375a6;


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

    html {
        background: linear-gradient(to right, $color-modifier, $color-function);
    }