@use"./_base.scss" as *;

button {
    background-color: $color-function;
    color: $color-white;
    text-align: center;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
}

.header__container {
    .header__text{
        font-family: $font-display;
        color: $color-white;
        font-size: 10px;
        .congrats {
            visibility: hidden;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.pannel__container {
    .pannel__timer {
        color: $color-white;
    }
}

.header {
    font-family: $font-display;
    color: $color-white;
    font-size: 24px;
}

.card {
    display: block;
    background-color: $color-card;
        .card__content {
            font-family: $font-display;
            color: $color-white;
            font-weight: bold;
            font-size: 0.75rem;
        }
}