.game__container {
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

.card {
    transition: all 0.8s ease;
    transform-style: preserve-3d;
    .card__front {
        visibility: hidden;
        transform: rotateY(180deg);
    }
    .card__back {
        visibility: visible;
        transform: rotateY(-180deg);
    }
    
}

.flipCard {
    transform: rotateY(180deg);
    .card__front {
        visibility: visible;
    }
    .card__back {
        visibility: hidden;
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-15px);
    }
    40% {
        transform: translateX(15px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
}