@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  background: linear-gradient(to right, #2c86cf, #120287de);
}

button {
  background-color: #120287de;
  color: #fafafa;
  text-align: center;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 5px;
}

.header__container .header__text {
  font-family: "Roboto", sans-serif;
  color: #fafafa;
  font-size: 14px;
}

.pannel__container .pannel__prevScore {
  color: #fafafa;
}

.header {
  font-family: "Roboto", sans-serif;
  color: #fafafa;
  font-size: 24px;
}

.card {
  display: block;
  background-color: #dfc375a6;
}
.card .card__content {
  font-family: "Roboto", sans-serif;
  color: #fafafa;
  font-weight: bold;
  font-size: 0.75rem;
}

button {
  height: 2rem;
  width: 4rem;
}

.header__container {
  display: flex;
  height: 16vh;
  width: 100%;
  justify-content: space-evenly;
}
.header__container .header__img {
  height: 15vh;
  width: 2rem;
}
.header__container .header__text {
  display: flex;
  text-align: center;
}

.pannel__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
}
.pannel__container .pannel__prevScore {
  height: 2rem;
  width: 4rem;
}

.header {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.game__container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  justify-items: center;
}
.game__container .card {
  display: flex;
  max-width: 5rem;
  max-height: 4rem;
  border-radius: 3px;
  overflow: hidden;
  justify-content: center;
  padding: 0.6rem 0rem;
}
.game__container .card .card__front .card__imagefront {
  height: 2.5rem;
  width: 2.5rem;
}
.game__container .card .card__front .card__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.game__container .card .card__back .card__imageback {
  height: 2.5rem;
  width: 2.5rem;
}

.game__container {
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.card {
  transition: all 0.8s ease;
  transform-style: preserve-3d;
}
.card .card__back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card .card__front {
  backface-visibility: hidden;
}

.flipCard {
  transform: rotateY(180deg);
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
}